<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('assets/img/teamwork1.jpg');">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12">
            <div class="page-heading" style="padding: 50px 0 10px 0;">
               <!-- <h1>Killers Family</h1> -->
               <!-- <p class="subheading">Bengal killers has evolved into top war clans - which continues to improve day after day. Our members are determined to come out on top of every clan war. We're very active, chat is always busy and clan wars are back-to-back, Donations are frequent and top-tier; the highest donators are often in the range of 5 to 10 thousand per season
                  We communicate; members discuss clan wars strategies, attack plans, and help each other improve.</p>
                  <hr class="small"> -->
               <!-- <span class="subheading">Bengal killers has evolved into top war clans - which continues to improve day after day. Our members are determined to come out on top of every clan war. We're very active, chat is always busy and clan wars are back-to-back, Donations are frequent and top-tier; the highest donators are often in the range of 5 to 10 thousand per season
                  We communicate; members discuss clan wars strategies, attack plans, and help each other improve. Check out all our clan mates below.</span> -->
               <!-- Horizontal Timeline starts -->
               <section class="cd-horizontal-timeline">
                  <div class="timeline">
                     <div class="events-wrapper">
                        <div class="events">
                           <ol>
                              <li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
                              <li><a href="#0" data-date="28/02/2014">25 Dec</a></li>
                              <li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
                              <li><a href="#0" data-date="20/05/2014">20 May</a></li>
                              <li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
                              <li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
                              <li><a href="#0" data-date="15/09/2014">15 Sep</a></li>
                              <li><a href="#0" data-date="01/11/2014">01 Nov</a></li>
                              <li><a href="#0" data-date="10/12/2014">10 Dec</a></li>
                              <li><a href="#0" data-date="19/01/2015">29 Jan</a></li>
                              <li><a href="#0" data-date="03/03/2015">3 Mar</a></li>
                              <li><a href="#0" data-date="02/04/2015">2 Jan</a></li>
                           </ol>
                           <span class="filling-line" aria-hidden="true"></span>
                        </div>
                        <!-- .events -->
                     </div>
                     <!-- .events-wrapper -->
                     <ul class="cd-timeline-navigation">
                        <li><a href="#0" class="prev inactive">Prev</a></li>
                        <li><a href="#0" class="next">Next</a></li>
                     </ul>
                     <!-- .cd-timeline-navigation -->
                  </div>
                  <!-- .timeline -->
                  <div class="events-content">
                     <ol>
                        <li class="selected" data-date="16/01/2014">
                           <h2>Foundation Day</h2>
                           <em>December 25th, 2014</em>
                           <p> 
                              A new clan was always on Sanjay's mind after having some mixed experience from his previous clans.
                           </p>
                        </li>
                        <li data-date="28/02/2014">
                           <h2>Tale of Golden Hunter</h2>
                           <em>February 28th, 2015</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="20/04/2014">
                           <h2>BK meets Nawabs</h2>
                           <em>March 20th, 2015</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="20/05/2014">
                           <h2>Siddharth's Heroics</h2>
                           <em>May 20th, 2015</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="09/07/2014">
                           <h2>Regular clan war declared</h2>
                           <em>Sep 9th, 2015</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="30/08/2014">
                           <h2>Rise of Sasuke Uchiha</h2>
                           <em>Mar 30th, 2016</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="15/09/2014">
                           <h2>Worst Streak</h2>
                           <em>May 15th, 2016</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="01/11/2014">
                           <h2>Level 5 clan</h2>
                           <em>June 1st, 2016</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="10/12/2014">
                           <h2>Best Wining Streak</h2>
                           <em>December 10th, 2016</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="19/01/2015">
                           <h2>New Leader Sourin</h2>
                           <em>January 19th, 2017</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="03/03/2015">
                           <h2>Level 10 Clan</h2>
                           <em>March 3rd, 2017</em>
                           <p> 
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci.
                           </p>
                        </li>
                        <li data-date="02/04/2015">
                           <h2>New Leader Arun</h2>
                           <em>July 2nd, 2017</em>
                           <p> 
                              Clan was going inactive and we needed a fresh leader who could restore energy among already
                              tired clan members. Arun took the matters into own hands and BK had been revived from eternal slumber.
                           </p>
                        </li>
                     </ol>
                  </div>
                  <!-- .events-content -->
               </section>
               <!-- Horizontal Timeline Ends -->
            </div>
         </div>
      </div>
   </div>
</header>
<!-- Main Content -->
<div class="container">
   <div class="LegendsSectionHeader" >
      <h3>BK Members</h3>
   </div>
   <!-- All Members, Founder, Leader, CoLeaders, Elders, Topas, legendary sannins, Lavaloons Specialist -->
   <div class="row sortFilterBlock">
      <h2 style="text-align: center;">Filters</h2>
      <div id="filters" class="button-group">
         <button class="button is-checked" data-filter="*">Show All</button>
         <button class="button" data-filter=".founder">Founder</button>
         <button class="button" data-filter=".leader">Leader</button>
         <button class="button" data-filter=".CoLeader">Co Leaders</button>
         <button class="button" data-filter=".elder">Elders</button>
         <button class="button" data-filter=".member">Members</button>
         <button class="button" data-filter=".shanin">Lagendary Shanins</button>
         <button class="button" data-filter=".topa">Topa</button>
         <!-- <button class="button" data-filter=".topa">Few Ex-mates</button> -->
         <!-- <button class="button" data-filter=".topa">Dragon Expert</button>
            <button class="button" data-filter=".topa">Ground Expert</button> -->
         <!-- <button class="button" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</button>
            <button class="button" data-filter=":not(.elder)">not elder</button>
            <button class="button" data-filter=".CoLeader:not(.elder)">CoLeader but not elder</button>
            <button class="button" data-filter="numberGreaterThan50">number > 50</button>
            <button class="button" data-filter="ium">name ends with &ndash;ium</button> -->
      </div>
      <!-- <h2>Sort</h2>
      <div id="sorts" class="button-group">
         <button class="button is-checked" data-sort-by="original-order">Original Order</button>
         <button class="button" data-sort-by="name">Name</button>
         <button class="button" data-sort-by="symbol">Grade</button>
         <button class="button" data-sort-by="number">War Star</button>
         <button class="button" data-sort-by="weight">Weight</button>
         <button class="button" data-sort-by="category">category</button>
      </div> -->
      <div class="grid">
         <div class="element-item CoLeader " data-category="elder" style="background-image: url('assets/img/pintai.jpg')">
            <h3 class="name">Pintai</h3>
            <p class="symbol">CO</p>
            <p class="number">175</p>
            <p class="weight">137</p>
            <div class="overlay">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Sanjib</span></li>
                  <li><span class="QText">Clan Name:</span> <span class="valueText">Pintai</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Kolkata</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Witch</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText"> AoT</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> JavaScript</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <!-- <li><a target="_blank" href="https://www.facebook.com/lordpintai7" class="icoFacebook" title="Follow Pintai on Facebook"><i class="fa fa-facebook"></i></a></li> -->
                        <li><a target="_blank" href="https://twitter.com/lordpintai" class="icoTwitter" title="Follow Pintai on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/sanjib-karmakar-27605144" class="icoLinkedin" title="Connect Pintai on Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid CoLeader" data-category="lanthanoid" style="background-image: url('assets/img/arvasu.jpg')">
            <h3 class="name">Arvasu</h3>
            <p class="symbol">CO</p>
            <p class="number">155</p>
            <p class="weight">116</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Arvasu</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Delhi</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText">Valk</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText">DBS</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Food</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" href="https://www.facebook.com/profile.php?id=1440765706" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/arvasuchikara/" class="icoInsta" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/arvasu-chikara-6a309216" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid leader" data-category="lanthanoid" style="background-image: url('assets/img/arun.jpg')">
            <h3 class="name">Arun</h3>
            <p class="symbol">L</p>
            <p class="number">152</p>
            <p class="weight">51</p>
            <div class="overlay">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Arun</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> Leader</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Kolkata</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Pekka</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText"> Big Boss</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> PubG</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid founder CoLeader" data-category="lanthanoid" style="background-image: url('assets/img/sanjay.jpg')">
            <h3 class="name">Sanjay</h3>
            <p class="symbol">CO</p>
            <p class="number">146</p>
            <p class="weight">10</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Sanjay</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Kolkata</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText">Valk</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText">Looney Tunes</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Work</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
            <!-- <div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>           
            </div> -->
         </div>
         <div class="element-item metalloid " data-category="metalloid" style="background-image: url('assets/img/lameez.jpg')">
            <h3 class="name">Lameez</h3>
            <p class="symbol">CO</p>
            <p class="number">138</p>
            <p class="weight">130</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Lameez</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Lucknow</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> GoLaLoons</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText"> Tokio Ghoul</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> GOT</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item CoLeader topa" data-category="elder" style="background-image: url('assets/img/Sid.jpg')">
            <h3 class="name">Siddharth</h3>
            <p class="symbol">CO</p>
            <p class="number">91</p>
            <p class="weight">90</p>
            <div class="overlay">
               <!-- <div class="text">Hello World</div> -->
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Siddharth</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Lucknow</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> GoWiPe</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText"> FMAB</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Anime</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid CoLeader" data-category="lanthanoid" style="background-image: url('assets/img/prasoon.jpg')">
            <h3 class="name">Anujj</h3>
            <p class="symbol">CO</p>
            <p class="number">113</p>
            <p class="weight">10</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Prasoon</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Lucknow</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText">Gowiwi</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText">Sherlock</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Games</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid CoLeader" data-category="lanthanoid" style="background-image: url('assets/img/velocity.jpg')">
            <h3 class="name">Velocity</h3>
            <p class="symbol">CO</p>
            <p class="number">120</p>
            <p class="weight">86</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Santanu Saha</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Kolkata</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText">Witch</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText">GOT</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> COC</span></li>
               </ul>
            </div>
         </div>
         
         <div class="element-item alkali member " data-category="alkali" style="background-image: url('assets/img/arnab.jpg')">
            <h3 class="name">Arnab</h3>
            <p class="symbol"></p>
            <p class="number">137</p>
            <p class="weight">34</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Arnab</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> Ex Member</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> WB</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Pekka</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText"> Big Boss</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Football</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item alkaline-earth CoLeader " data-category="alkaline-earth" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Brave Heart</h3>
            <p class="symbol">CO</p>
            <p class="number">158</p>
            <p class="weight">122</p>
            <div class="overlay">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Ashwini</span></li>
                  <li><span class="QText">Clan Name:</span> <span class="valueText">Brave Heart</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Kolkata</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Miner</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText"> None</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> COC</span></li>
               </ul>
            </div>
         </div>
         <div class="element-item post-transition CoLeader shanin" data-category="post-transition" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Sourin</h3>
            <p class="symbol">CO</p>
            <p class="number">142</p>
            <p class="weight">124</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Sourin</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Kolkata</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Queen Walk</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText"> OP</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Manga</span></li>
               </ul>
            </div>
         </div>
         <div class="element-item CoLeader " data-category="elder" style="background-image: url('assets/img/shashank.jpg')">
            <h3 class="name">Shashank</h3>
            <p class="symbol">CO</p>
            <p class="number">126</p>
            <p class="weight">83</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Shashank</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Lucknow</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Dragon</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText"> Roadies</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Football</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item alkali member " data-category="alkali" style="background-image: url('assets/img/sadan.jpg')">
            <h3 class="name">Sadan</h3>
            <p class="symbol"></p>
            <p class="number">135</p>
            <p class="weight">39</p>
            <div class="overlay">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Sadan</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> Ex Member</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> WB</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Valk</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText"> BB</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Messi</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid member" data-category="lanthanoid" style="background-image: url('assets/img/arani.jpg')">
            <h3 class="name">Arani</h3>
            <p class="symbol">M</p>
            <p class="number">141</p>
            <p class="weight">51</p>
            <div class="overlay">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Arani</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> M</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Kolkata</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Pekka</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText"> None</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Selfie</span></li>
               </ul>
            </div>
         </div>
         
         <div class="element-item metalloid " data-category="metalloid" style="background-image: url('assets/img/pikachu.jpg')">
            <h3 class="name">Pikachu</h3>
            <p class="symbol">CO</p>
            <p class="number">141</p>
            <p class="weight">130</p>
            <div class="overlay">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Avinav</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Gurgaon</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> GoLaLoons</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText"> None</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> GOT</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item post-transition shanin CoLeader" data-category="post-transition" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Sasuke</h3>
            <p class="symbol">CO</p>
            <p class="number">151</p>
            <p class="weight">108</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Sasuke</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> UK</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText">Queen Walk</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText">OP</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Anime</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid elder " data-category="lanthanoid" style="background-image: url('assets/img/kriss.jpg')">
            <h3 class="name">Krrishchaiti</h3>
            <p class="symbol">E</p>
            <p class="number">78</p>
            <p class="weight">173</p>
            <div class="overlay">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Krrishchaiti</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Lucknow</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText">Dragon</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText">None</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Business</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         
         
         <div class="element-item lanthanoid CoLeader" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">DJ wALe Babu</h3>
            <p class="symbol">CO</p>
            <p class="number">94</p>
            <p class="weight">94</p>
            <div class="overlay">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Zaki</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> UP</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Lavaloons</span></li>
                  <li><span class="QText">Fav Sportsman:</span> <span class="valueText"> Virat</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Study</span></li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid CoLeader" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Afnan</h3>
            <p class="symbol">CO</p>
            <p class="number">95</p>
            <p class="weight">86</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Afnan</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> CO</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> UP</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText">Dragon</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText">OP</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText">PeakyBlinders</span></li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid member" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">terminator K.C</h3>
            <p class="symbol">M</p>
            <p class="number">100</p>
            <p class="weight">75</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Kshitiz</span></li>
                  <li><span class="QText">Clan Name:</span> <span class="valueText">Terminator KC</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> Member</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> Lucknow</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText"> Giant Pekka</span></li>
                  <li><span class="QText">Fav Show:</span> <span class="valueText"> Man vs Wild</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Cars</span></li>
                  <li>
                     <ul class="social-network social-circle animate">
                        <li><a target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid elder" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">vivEK</h3>
            <p class="symbol">E</p>
            <p class="number">69</p>
            <p class="weight">69</p>
         </div>
         <div class="element-item post-transition shanin CoLeader" data-category="post-transition" style="background-image: url('assets/img/chirag.jpg')">
            <h3 class="name">Chirag</h3>
            <p class="symbol">M</p>
            <p class="number">145</p>
            <p class="weight">108</p>
            <div class="overlay1">
               <ul class="aboutInfo">
                  <li><span class="QText">Name:</span> <span class="valueText">Chirag</span></li>
                  <li><span class="QText">Designation:</span> <span class="valueText"> Member</span></li>
                  <li><span class="QText">Location:</span> <span class="valueText"> UK</span></li>
                  <li><span class="QText">Fav Attack:</span> <span class="valueText">Queen Walk</span></li>
                  <li><span class="QText">Fav Anime:</span> <span class="valueText">OP</span></li>
                  <li><span class="QText">Crazy About:</span> <span class="valueText"> Study</span></li>
               </ul>
            </div>
         </div>
         <div class="element-item lanthanoid CoLeader" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Anubhav Rajan</h3>
            <p class="symbol">CO</p>
            <p class="number">128</p>
            <p class="weight">107</p>
         </div>
         <div class="element-item lanthanoid elder" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Mohit</h3>
            <p class="symbol">E</p>
            <p class="number">69</p>
            <p class="weight">69</p>
         </div>
         <div class="element-item lanthanoid elder" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">RBT</h3>
            <p class="symbol">E</p>
            <p class="number">119</p>
            <p class="weight">75</p>
         </div>
         
         <div class="element-item lanthanoid member" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Ankit Mourya</h3>
            <p class="symbol">M</p>
            <p class="number">127</p>
            <p class="weight">75</p>
         </div>
         <div class="element-item lanthanoid member" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">W4RRioR</h3>
            <p class="symbol">M</p>
            <p class="number">85</p>
            <p class="weight">25</p>
         </div>
         <div class="element-item lanthanoid elder" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Legend</h3>
            <p class="symbol">E</p>
            <p class="number">76</p>
            <p class="weight">25</p>
         </div>
         <div class="element-item lanthanoid member" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">pallab</h3>
            <p class="symbol">M</p>
            <p class="number">95</p>
            <p class="weight">25</p>
         </div>
         <div class="element-item lanthanoid elder" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Castle Of Glass</h3>
            <p class="symbol">E</p>
            <p class="number">91</p>
            <p class="weight">25</p>
         </div>
         <div class="element-item lanthanoid elder" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Zeref</h3>
            <p class="symbol">E</p>
            <p class="number">60</p>
            <p class="weight">25</p>
         </div>
         <div class="element-item lanthanoid member" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Pirates</h3>
            <p class="symbol">M</p>
            <p class="number">63</p>
            <p class="weight">25</p>
         </div>
         <div class="element-item lanthanoid member" data-category="lanthanoid" style="background-image: url('assets/img/noImage.jpg')">
            <h3 class="name">Shadow</h3>
            <p class="symbol">M</p>
            <p class="number">72</p>
            <p class="weight">25</p>
         </div>
      </div>
   </div>
   <!-- FilterSort block ends -->
   <!-- Vertical Timeline Starts -->
   <!-- <section class="SectionHeader" style="background-color:#d5ab5a;">
      <h1>Clash Legends</h1>
      </section> -->
      <br>
      <br>
   <div class="LegendsSectionHeader" >
      <!-- <div class="SectionHeader-content"> -->
      <h3 >BK Legends</h3>
      <!-- </div> -->
   </div>
   <section id="cd-timeline" class="cd-container">
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
            <img src="assets/img/cd-icon-picture.svg" alt="Picture">
         </div>
         <!-- cd-timeline-img -->
         <div class="cd-timeline-content">
            <h2>Welcome to the Big Time</h2>
            <p>First player to reach 3000 trophies: Brave Heart</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">Jan 14</span>
         </div>
         <!-- cd-timeline-content -->
      </div>
      <!-- cd-timeline-block -->
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
            <img src="assets/img/cd-icon-picture.svg" alt="Picture">
         </div>
         <!-- cd-timeline-img -->
         <div class="cd-timeline-content">
            <h2>The Old Guard</h2>
            <p>Longest Active Player: Sanjay</p>
            <!--  <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">Jan 18</span>
         </div>
         <!-- cd-timeline-content -->
      </div>
      <!-- cd-timeline-block -->
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
            <img src="assets/img/cd-icon-picture.svg" alt="Picture">
         </div>
         <!-- cd-timeline-img -->
         <div class="cd-timeline-content">
            <h2>We're Gonna Need a Bigger Case</h2>
            <p>First player to clear maxed TH8 base being TH7: Siddharth</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">Jan 24</span>
         </div>
         <!-- cd-timeline-content -->
      </div>
      <!-- cd-timeline-block -->
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
            <img src="assets/img/cd-icon-picture.svg" alt="Picture">
         </div>
         <!-- cd-timeline-img -->
         <div class="cd-timeline-content">
            <h2>War of the Worlds</h2>
            <p>MoM of the first Clan War ever: Brave Heart</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">Feb 14</span>
         </div>
         <!-- cd-timeline-content -->
      </div>
      <!-- cd-timeline-block -->
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
            <img src="assets/img/cd-icon-picture.svg" alt="Picture">
         </div>
         <!-- cd-timeline-img -->
         <div class="cd-timeline-content">
            <h2>Overachiever</h2>
            <p>First player to bring Queen Walk attack strategy: Sasuke</p>
            <!-- <a href="#0" class="cd-read-more">Read more</a> -->
            <span class="cd-date">Feb 18</span>
         </div>
         <!-- cd-timeline-content -->
      </div>
      <!-- cd-timeline-block -->
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
            <img src="assets/img/cd-icon-picture.svg" alt="Picture">
         </div>
         <!-- cd-timeline-img -->
         <div class="cd-timeline-content">
            <h2>Tough Act to Follow</h2>
            <p>First player to reach 4000 trophies: Brave Heart</p>
            <span class="cd-date">Feb 26</span>
         </div>
         <!-- cd-timeline-content -->
      </div>
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
            <img src="assets/img/cd-icon-picture.svg" alt="Picture">
         </div>
         <!-- cd-timeline-img -->
         <div class="cd-timeline-content">
            <h2>Superman of BK</h2>
            <p>First player to 3* maxed TH11 base: Arvasu</p>
            <span class="cd-date">Feb 22</span>
         </div>
         <!-- cd-timeline-content -->
      </div>
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
            <img src="assets/img/cd-icon-picture.svg" alt="Picture">
         </div>
         <!-- cd-timeline-img -->
         <div class="cd-timeline-content">
            <h2>Go-to guy of BK</h2>
            <p>Most heroic attacker of the clan: Sourin</p>
            <span class="cd-date">Feb 23</span>
         </div>
         <!-- cd-timeline-content -->
      </div>
      <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
            <img src="assets/img/cd-icon-picture.svg" alt="Picture">
         </div>
         <!-- cd-timeline-img -->
         <div class="cd-timeline-content">
            <h2>Achilles of BK</h2>
            <p>Most war star: Pintai (1647)</p>
            <span class="cd-date">Feb 26</span>
         </div>
         <!-- cd-timeline-content -->
      </div>
      <!-- cd-timeline-block -->
   </section>
   <!-- cd-timeline -->
   <!-- Vertical Timeline Ends -->
   <div class="row">
      <div class="col-lg-12 col-md-12">
         <p>The Bengal Killers was established for the hardcore gamer, the ones who are dedicated to their craft. Sick and tired of all the casual gamer's who drag you down and can't follow simple rules? So were we! We are a group of like-minded players who use strategic planning, close coordination and top notch raiding ability to swarm our enemies. We work together as one for the good of the Hive, and relentlessly attack our enemies as a single unit giving them no chance to survive.</p>
         <p>Bengal killers has evolved into top war clans - which continues to improve day after day. Our members are determined to come out on top of every clan war.</p>
         <p>We're very active; chat is always busy and clan wars are back-to-back
            Donations are frequent and top-tier; the highest donators are often in the range of 5 to 10 thousand per season
            We communicate; members discuss clan wars strategies, attack plans, and help each other improve.
         </p>
      </div>
   </div>
</div>
<!-- main container ends -->
<!-- <hr> -->

