<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('assets/img/bigSliderVdo.png'); min-height: 350px;">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12">
            <div class="page-heading">
               <!-- <h1>Killers Family</h1> -->
               <!-- <p class="subheading">Bengal killers has evolved into top war clans - which continues to improve day after day. Our members are determined to come out on top of every clan war. We're very active, chat is always busy and clan wars are back-to-back, Donations are frequent and top-tier; the highest donators are often in the range of 5 to 10 thousand per season
                  We communicate; members discuss clan wars strategies, attack plans, and help each other improve.</p>
                  <hr class="small"> -->
               <span class="subheading">Enjoy BK war videos</span>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- Page Content -->
<div class="container-fluid pb-video-container">
    <div class="col-md-10 col-md-offset-1">
      <marquee behavior="alternate" direction="right" scrollamount="6"><span style="font-size: 13px;">This section is under construction. Supposed to show videos from Bengal Killers YouTube Channel.</span></marquee>
        <h3 class="text-center">Sample Attacks Video ©Supercell</h3>
        <div class="row pb-row">
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/4Jdp_dkduJc" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center">CR</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/WJfFkVPbckk" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center">COC: Hammer Jam!</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame " width="100%" height="230" src="https://www.youtube.com/embed/7gubVebE0uo" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center">COC: The GoWiWi Strategy</label>
            </div>
            <div class="col-md-3 pb-video">
                <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/9O30mOu7bgo" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-center">COC: The BoLaLoon Strategy!</label>
            </div>
        </div>
        
    </div>
</div>